form{
	
	/*background-color:white;*/
	padding:20px;
	margin:20px auto;
	max-width: 500px;
}
.container{
	border:none;
	box-sizing:none;
}

.logo{
	padding-left:20px;
	font-size: 45px
}
.registerbtn{
	float:center;
	background-color: green;
}

body {font-family: Arial, Helvetica, sans-serif;}

input[type=text], input[type=password] ,input[type=varchar] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
/* @media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
} */

.card{
	width:auto;
	position:relative;
	align-content:center;
  

}
/*for card-content class used content in cards in home page*/
.card-content{
	align-content: center;
	width:250px;

}
/*for image in cards*/
.card-image{
	height:330px;

}
